<settings 
  xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
  https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>hol-azure-storage</id>
      <username>holaddonstorage</username>
      <password>ebauEQ9FPJf9GG+8/vTfUK/9Je09G3cMdmI87jZrHZb4jScz5zjun3pQaTgUwXUB3u+9FHXGi5IffltEZbPc/w==</password>
    </server>
  </servers>
  
</settings> 
